<h1>Add a new photo</h1>

<form action="http://localhost:3000/photo/create_photo">
  Caption:
  <input name="the_caption" type="text">

  Source:
  <input name="the_source" type="text">

  <button>Create Photo</button>
</form>

<a href="/photos">Cancel and go back</a>
